@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Devanagari&display=swap");
body {
  font-family: "Inter", sans-serif !important;
}

.divider {
  display: flex;
}
.divider:after {
  content: "";
  flex: 1;
}

.line {
  align-items: center;
  justify-content: flex-end;
  margin: 1em -1em;
}
.line:before,
.line:after {
  height: 2px;
  margin: 0 1em;
}

.one-line:before,
.one-line:after {
  background: #e5e7eb;
}
.newsletter {
  background-color: #ffe9d5;
  z-index: -1;
}

.text-shadow {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.auth-bg {
  background: url("/auth-bg.png") no-repeat center center;
  background-size: contain;
  width: 60%;
  height: 59%;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 0;
}

/* ::-webkit-scrollbar {
  width: 18px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

:not([data-scroll="0"])::-webkit-scrollbar-thumb {
  border: 4px solid rgba(0, 0, 0, 0);
  background: #f57903;
  background-clip: padding-box;
  border-radius: 9999px;
} */

@media screen and (max-width: 480px) {
  .auth-bg {
    display: none;
  }
}
  /* scrollbar classes
  ::-webkit-scrollbar {
    width: 18px;
  }

  ::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
  }

  :not([data-scroll="0"])::-webkit-scrollbar-thumb {
    border: 4px solid rgba(0, 0, 0, 0);
    background: #f57903;
    background-clip: padding-box;
    border-radius: 9999px;
  }
} */
