@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Devanagari&display=swap");
body {
  font-family: "Inter", sans-serif !important;
}

.banner {
  background: url("/banner2.png") no-repeat center center;
  background-size: cover;
  box-shadow: 0px 20px 25px -5px rgba(0, 0, 0, 0.1),
    0px 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.about {
  background: url("/about-gita.png") no-repeat center center;
  background-size: cover;
}

.quote {
  background: url("/quotes-bg.png") no-repeat center center;
  background-size: cover;
}

.yellow-bg-banner {
  background: url("/main.png") no-repeat center center;
  background-size: cover;
  z-index: -9999 !important;
}

.divider {
  display: flex;
}
.divider:after {
  content: "";
  flex: 1;
}

.line {
  align-items: center;
  justify-content: flex-end;
  margin: 1em -1em;
}
.line:before,
.line:after {
  height: 2px;
  margin: 0 1em;
}

.one-line:before,
.one-line:after {
  background: #e5e7eb;
}
.newsletter {
  background: url("/newsbg.png") no-repeat bottom center;
  background-size: cover;

  background-color: #ffe9d5;
  width: 100%;
}
.text-shadow {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.chapters {
  background: url("/bg-verses-fixed.png") no-repeat bottom;
  background-size: cover;
}
.chapter-intro {
  background: url("/mandala.png") no-repeat center center;
}
.z-neg {
}
.auth-bg {
  background: url("/auth-bg.png") no-repeat center center;
  background-size: contain;
  width: 60%;
  height: 59%;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 0;
}
@media screen and (max-width: 480px) {
  .auth-bg {
    display: none;
  }
}
